* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: beige;
}

/* Layout Grid */

.layout {
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 70px 1fr;
  height: 100vh;
}

.header {
  grid-column: span 2;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  position: relative;
}
.profile img {
  border-radius: 50%;
}

.dot {
  position: absolute;
  background: #00ff9c;
  border-radius: 50%;
  border: 2px solid white;
  bottom: 0;
  right: 0;
  height: 10px;
  width: 10px;
}

.sidebar {
  background: white;
  padding: 30px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.05);
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin-bottom: 20px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  position: relative;
}
.sidebar li::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: #667eea;
  transition: width 0.3s;
}
.sidebar li:hover::after {
  width: 100%;
}
.content {
  padding: 30px;
}

.card {
  background: white;
  width: 380px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
}

/* .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgb(162, 141, 141);
} */

.profile-card img {
  margin-bottom: 10px;
  border-radius: 50%;
}
.profile-card {
  position: relative;
}

.profile-card::before {
  content: "";
  position: absolute;
  inset: -2px;
  background: linear-gradient(45deg, #667eea, #764ba2, #00ff9c);
  border-radius: 14px;
  z-index: -1;
  animation: rotate 4s linear infinite;
}

@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.badge {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #00c853;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  padding: 6px 12px;
  background: #eef2ff;
  border-radius: 20px;
  font-size: 12px;
  margin: 5px 5px 0 0;
  gap: 10px;
}

button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  border: none;
  background: #667eea;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}
button::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transition: left 0.4s ease;
}
button:hover {
  background: #5a67d8;
  transform: translateY(-2px);
}
button:hover::after {
  left: 0;
}

.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 30px 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.stat-card {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  animation: fadeIn 2s ease forwards;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #e8d4d4;
}
tr {
  background-color: #e2e8d9;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}
